a button {
    margin: 2%;
    font-size: 12px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: red;
    width: 150px;
    height: 30px;
    color: white;
    cursor: pointer;
}

.detalhes {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    margin-left: 70%;
}

.botoes{
    display: flex;
    flex-direction: row;
    align-items: center;
}

