.linha1 {
    margin-top: 3%;
    width: 94%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 14px;
}

 .linha2 {
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 94%;
    font-size: 14px;
}

 .linha2 .componente1 {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-between;
}

 .linha2 .componente1 .conteiner-cliente {
    display: flex;
    flex-direction: row;
    margin-bottom: 1%;
}

 .linha2 .componente1 .conteiner-telefone {
    display: flex;
    flex-direction: row;
}

 .linha3 {
    width: 94%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: top;
    height: 30%;
}

 .linha3 .componente1 {
    margin-right: 1%;
    width: 17%;
}

 .linha3 .componente2 {
    margin-right: 1%;
    width: 37%;
}

 .linha3 .componente3 {
    margin-right: 1%;
    width: 15%;
}

 .linha3 .componente3 .conteudo {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

 .linha3 .componente3 .conteudo .txt1 {
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    font-size: 14px;
}

 .linha3 .componente3 .conteudo .txt2 {
    display: flex;
    align-items: end;
    justify-content: center;
    margin: 5%;
    height: 100%;
    width: 100%;
    font-size: 8px;
    font-weight: bold;
    color: red;
}

 .linha3 .componente4 {
    margin-right: 1%;
    width: 15%;
}

 .linha3 .componente4 .conteudo {
    font-weight: bold;
    font-size: 14px;
}

 .linha3 .componente5 {
    width: 16%;
}

 .linha3 .componente5 .conteudo {
    font-weight: bold;
    font-size: 14px;
    color: red;
}

 .linha3 .topico {
    font-size: 8px;
    height: 10%;

}

 .linha3 .conteudo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    border-radius: 10px;
    background-color: #EBEBEB;
    height: 90%;
}

 .linha4 {
    margin-top: 5%;
}

 .linha4 button {
    font-size: 10px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: red;
    width: 150px;
    height: 30px;
    color: white;
}