@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;1,200;1,300;1,400&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans';
}

body {
  background-color: #414141;
}

/* Define a imagem de fundo com a marca d'água */
@media only screen and (min-width: 1200px) {
  .background-image {
      animation: spin 30s linear infinite;
      transform-origin: center center;
  }
}

.background-image {
  position: fixed;
  top: -30vh;
  left: -20vw;
  width: 70%;
  /* define a largura da imagem */
  height: 170%;
  /* define a altura da imagem */
  background-image: url('./assets/fundo.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
}

/* Define a animação de rotação */
@keyframes spin {
  from {
      transform: rotate(0deg);
  }

  to {
      transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1199px) {
  .background-image {
      top: -20vh;
      /* Ajuste o ponto de partida da imagem de fundo */
      left: -2vw;
      /* Ajuste o ponto de partida da imagem de fundo */
      width: 100%;
      /* Define a largura da imagem para ocupar toda a largura da tela */
      padding-top: -70%;
      /* Define a altura da imagem para ajustar automaticamente a largura */
      animation: spin 30s linear infinite;
      /* Remova a animação em dispositivos móveis */
      background-size: 100%;
      /* Altere o tamanho da imagem para preencher a tela */
      background-position: center center;
      /* Centralize a imagem na tela */
  }

  @media only screen and (max-width: 800px) {
      .background-image {
          top: -30vh;
      }
  }
}

.fundo {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fundo .tela {
  width: 900px;
  height: 450px;
  background-color: #414141;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 30px black;
}

.fundo .tela .conteiner-esquerdo {
  background-color: #BDC0C2;
  border-radius: 10px;
  width: 30%;
  height: 90%;
  margin-right: 3.3%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: top;
}

.fundo .tela .conteiner-esquerdo a {
  text-decoration: none;
  color: black;
}

.fundo .tela .conteiner-esquerdo .pedidos {
  background-color: #D9D9D9;
  border-radius: 10px;
  margin: 5% 5% 0% 5%;
  display: flex;
  flex-direction: column;
  font-size: 13px;
}

.fundo .tela .conteiner-esquerdo .pedido-selecionado {
  background-color: #FE2F2F;
  border-radius: 10px;
  margin: 5% 5% 0% 5%;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  color: white;
}

.fundo .tela .conteiner-esquerdo .pedido-selecionado .conteiner-pedido1 {
  margin: 5% 5% 0% 5%;
  font-weight: bold;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.fundo .tela .conteiner-esquerdo .pedido-selecionado .conteiner-pedido2 {
  margin: 0% 5% 5% 5%;
  width: 100%;
  height: 10%;
}

.fundo .tela .conteiner-esquerdo .pedidos .conteiner-pedido1 {
  margin: 5% 5% 0% 5%;
  font-weight: bold;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.fundo .tela .conteiner-esquerdo .pedidos .conteiner-pedido2 {
  margin: 0% 5% 5% 5%;
  width: 100%;
  height: 10%;
}

.fundo .tela .conteiner-esquerdo input {
  background-color: #D9D9D9;
  margin: 5% 5% 0% 5%;
  padding-left: 5%;
  width: 85%;
  height: 25px;
  border-radius: 10px;
  border: none;
}

.fundo .tela .conteiner-direito {
  background-color: #BDC0C2;
  border-radius: 10px;
  width: 60%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  background-color: rgb(212, 212, 212);
}