.tela {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

.conteiner_direito {
  margin-top: 30vh;
  background-color: #bdc0c2;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(212, 212, 212);
  width: 100%;
  max-width: 500px;
  padding: 20px;
}

.fundo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../../assets/fundo.png'); /* Substitua pela sua imagem de fundo */
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.background-image {
  opacity: 0.3;
}

input {
  margin-top: 1em;
}

form {
  width: 100%;
}

button {
  margin-top: 20px;
}

span {
  margin: 0;
  margin-top: 2em;
}

p {
  margin-top: 2em;
}
