.tela {
  width: 90vw;
  display: flex;
  justify-content: center;
  position: relative;
}

.conteiner_direito {
  border-radius: 10px;
  width: 50%;
  height: 100%;
  background-color: rgb(212, 212, 212);
}

.fundo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../../assets/fundo.png');
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.background-image {
  opacity: 0.3;
}

.table input {
  margin-top: 1em;
  width: 100%;
}

form {
  width: 100%;
  display: flex;
  text-align: left;
}

button {
  margin: 1rem;
  cursor: pointer;
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

span {
  margin: 0;
  margin-top: 2em;
}

p {
  margin-top: 2em;
}

.table{
  width: 70%;
}
